table,th,tr,td {
    border: 1px solid black;
    border-collapse: collapse;
}

.data-entry {
    margin-left: 20px;
    margin-right: 20px;
}


.visible {
    visibility: visible;
}
  
.invisible{
    visibility: hidden;
}
  

td {
    padding: 10px;
    text-align: center;
}

#controls {
    display: flex;
    margin: 20px;
}

#notification {
    color: red;
    margin: 20px;
}

#instructions {
    border: 1px dashed black;
    width: 800px;
    margin: 20px;
    padding: 20px;
}

#data {
    display: hidden;
    border: 0px;
}

input {
    width: 75px; 
}